<% layout('../layout') -%>
<h1><%= quiz.title %></h1>
<aside role="complementary">
	<h1>Leaderboard</h1>
	<ul id="teams"></ul>
</aside>
<section id="quiz">
	
</section>
<input type="hidden" name="id" id="quiz-id" value="<%= quiz.id %>" />