<% layout('../layout') -%>
<h1>Edit quiz</h1>
<form action="/admin/quiz/edit" method="post">
	<dl>
		<dt>
			<label>Title:</label>
		</dt>
		<dd>
			<input type="text" name="title" value="<%= quiz.title %>" />
		</dd>
	</dl>
	<input type="hidden" name="id" id="quiz-id" value="<%= quiz.id %>" />
</form>
<button id="add-round">Add round</button>
<%- include ../partials/rounds.ejs %>