<% if(typeof withAnswer == 'undefined') { var withAnswer = false; } %>
<% if(typeof withInput == 'undefined') { var withInput = false; } %>
<dl class="question">
	<dt>
		<%if(question.type == "image") { %>
			<img src="<%= question.questionText %>" alt="Image" />
		<% } else { %>
			<%= question.questionText %>
		<% } %>
	</dt>
<% if(withAnswer) { %>
	<dd class="answer">
		<%= question.answer %>
		<%if(question.type == "image" && question.answerImage) { %>
			<br /><img src="<%= question.answerImage %>" alt="Image" />
		<% } %>		
<% } %>
<% if(withInput) { %>
	<dd class="form">
	<form>
		<input type="text" placeholder"Your answer" required spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" />
		<input type="submit" value="Submit" />
	</form>
<% } %>
</dd>
</dl>