<% if(typeof withoutWrapper == 'undefined') { var withoutWrapper = false; } %>
<% if(typeof round !== 'undefined') { %>
	<% if(round.questions.length > 0) { %>
		<% if(!withoutWrapper) { %>
			<ul class="list questions">
		<% } %>
		<% for(var i=0; i < round.questions.length; i++) {
			var question = round.questions[i]; %>
				<li>
					<form action="/admin/round/edit">
						<dl>
							<dt>
								<label>Question:</label>
							</dt>
							<dd>
								<input type="text" name="question" value="<%= question.questionText %>" />
							</dd>
							<dt>
								<label>Answer:</label>
							</dt>
							<dd>
								<input type="text" name="answer" value="<%= question.answer %>" />
							</dd>
						</dl>
						<input type="hidden" name="question_id" value="<%= question._id %>" />
						<input type="submit" value="Save question" />
						<button class="cta delete">Delete</button>
					</form>	
				</li>
		<% } %>
		<% if(!withoutWrapper) { %>
			</ul>
		<% } %>
	<% } else { %>
		<p class="no-results">Sorry, no questions were found.</p>
	<% } %>
<% } %>