<h1>Double your points</h1>
<p>Pick a round that you wish to double up on.</p>
<p>Choose carefully which you think your team can score the most from.</p>
<form class="variant" id="double-points">
	<ul class="option-list">
		<% 
			rounds.sort(function(a, b){
				return a.displayOrder - b.displayOrder;
			});
		
			for(var i=0; i < rounds.length; i++) {
				var round = rounds[i]; %>
					<li>
						<input type="radio" name="rounds" value="<%= round._id %>" id="<%= round._id %>" />
						<label for="<%= round._id %>"><%= round.title %></label>
					</li>
				<% 
			}
		%>
	</ul>
	<input type="submit" value="Submit" />
</form>