<h2>Choose your double point round</h2>
<p>As if we weren't generous enough, we are giving your team the chance to choose a round in which for each correct answer, you get <strong>double</strong> the points.</p>
<p>Choose carefully which you think your team can score the most from.</p>
<% for(var i=0; i < rounds.length; i++) {
	var round = rounds[i]; %>
	<button data-round-id="<%= round._id %>" class="cta"><%= round.title %></button>
<% } %>