<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie7" lang="en-gb"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en-gb"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en-gb"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-gb"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<% if (!title) { %>
			<title>buzzer</title>
		<% } else { %>
			<title>buzzer &bull; <%= title %></title>
		<% } %>
		<link rel="stylesheet" href="/stylesheets/default.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
	<body>
		<%- body %>
		<script src="/javascripts/ejs_production.js"></script>
	</body>
</html>