<% layout('layout') -%>
<header role="banner">
	<div class="container">
		<% if (user && user.admin) { %>
			<h1><a href="/admin">Buzzer</a></h1>
		<% } else { %>
			<h1>Buzzer</h1>
		<% } %>
	</div>
</header>
<main role="main" class="container">
	<%- body %>
</main>