<% layout('layout-main') -%>
<p>Once in teams please sign up below.</p>
<% if (message != '') { %>
	<p class="msg-error"><%= message %></p>
<% } %>
<ul class="tabs two-col">
	<li><a href="#register" class="active">Register</a></li>
	<li><a href="#log-in">Log in</a></li>
</ul>
<form action="/register" method="post" id="register" class="tabbed-content">
	<dl>
		<dt>
			<label for="register_username">Your team name:</label>
		</dt>
		<dd>
			<input type="text" name="register_username" id="register_username" required />
		</dd>
		<dt>
			<label for="register_password">Your team password:</label>
		</dt>
		<dd>
			<input type="password" name="register_password" id="register_password" required />
		</dd>
	</dl>
	<input type="submit" value="Let's start" />
</form>
<form action="/login" method="post" id="log-in" class="tabbed-content">
	<dl>
		<dt>
			<label for="username">Your team name:</label>
		</dt>
		<dd>
			<input type="text" name="username" id="username" required />
		</dd>
		<dt>
			<label for="password">Your team password:</label>
		</dt>
		<dd>
			<input type="password" name="password" id="password" required />
		</dd>
	</dl>
	<input type="submit" value="Let's start" />
</form>