<% layout('layout-main') -%>
<div id="content">
</div>
<input type="hidden" name="team" id="team-username" value="<%= user.username %>" />
<input type="hidden" name="id" id="quiz-id" value="<%= quiz.id %>" />
<script src="http://cdn.pubnub.com/pubnub.min.js"></script>
<script src="/js/lib/fuzzy-min.js"></script>
<script src="/js/play.js"></script>