.cta {
	-webkit-appearance: 			none;
	background: 					$whiteBase;
	border:							2px solid $whiteDark;
	border-width: 					0 0 2px;
	border-radius: 					0;
	color:							$greyBase;
	cursor: 						pointer;
	display: 						inline-block;
	font:							#{$baseFontSize}/100% $openSans;
	margin-top:						$gridUnit;
	padding:						$gridUnit;
	text-decoration: 				none;
	@include						transition(all .25s ease-in);
	&:hover {
		background:					$greyBase;
		color: 						$whiteBase;
	}	
	&.add {
		&:before {
			content:				'+ ';
		}
	}
	&.delete {
		background: 				$redBase;
		&:hover {
			background: 			$greyBase;
			color: 					$redBase;
		}
	}
}

ul.tabs {
	list-style: 					none;
	margin:							0;
	padding: 						0;
	@extend							%clearfix;
	li {
		float: 						left;
		a {
			background: 			$greyBase;
			color:					$whiteBase;
			display: 				block;
			font-size: 				$baseFontSize*1.142857143;
			line-height: 			$baseFontSize*1.142857143;
			padding: 				$gridUnit calc-percent($gridUnit*2, 470px);
			text-decoration: 		none;
			text-transform: 		uppercase;
			&.active {
				background: 		$whiteOff;
				color:				$greyBase;
			}
			@include respond-to(420px) {
				padding:			$gridUnit calc-percent($gridUnit*2, 160px);
			}
		}
	}
	&.two-col {
		li {
			width: 					50%;
		}
	}
	&.three-col {
		li {
			width: 					33.333333333%;
		}
	}
	+ .tabbed-content {
		display: 					block;
	}
}

.tabbed-content {
	background: 					$whiteOff;
	border-bottom: 					2px solid $whiteDark;
	color:							$greyBase;
	display: 						none;
	overflow: 						hidden;
	margin: 						0 0 10px;
	padding:						calc-percent($gridUnit*2, 940px);
	text-align:						left;
	form {
		background: 				transparent;
		border-bottom: 				0;
		margin: 					0;
		padding: 					0;
	}
	@include respond-to(420px) {
		padding:					calc-percent($gridUnit*2, 320px);		
	}
}

p.msg-success, 
p.msg-error {
	background:						$greenBase;
	clear: 							both;
	color: 							$whiteBase;
	padding:						calc-percent($gridUnit*2, 940px);
	@include respond-to(420px) {
		padding:					calc-percent($gridUnit*2, 320px);		
	}
}

p.msg-error {
	background:						$redBase;
}

p.highlight {
	color: 							$whiteBase;	
	font-size: 						$baseFontSize*1.5;
	margin-top:						$gridUnit*2;
	line-height:					150%;
	position:						relative;
	body.incorrect & {
		padding-bottom:				151px;
		&:after {
			background:				url('../images/icon-wrong.png');
			bottom:					0;
			content:				'';
			display:				block;
			height:					121px;
			left:					50%;
			margin-left:			-55.5px;
			position:				absolute;
			width:					111px;
			@include retina {
				background-image:	url('../images/icon-wrongx2.png');
				background-size:	100% auto;
			}
		}
	}	
	body.correct & {
		padding-bottom:				145px;
		&:after {
			background:				url('../images/icon-correct.png');
			bottom:					0;
			content:				'';
			display:				block;
			height:					124px;
			left:					50%;
			margin-left:			-57.5px;
			position:				absolute;
			width:					115px;
			@include retina {
				background-image:	url('../images/icon-correctx2.png');
				background-size:	100% auto;
			}
		}		
	}
}

form {
	background: 					$whiteOff;
	border-bottom: 					2px solid $whiteDark;
	color:							$greyBase;
	margin:							$gridUnit 0;
	padding:						calc-percent($gridUnit*2, 940px);
	@include respond-to(420px) {
		padding:					calc-percent($gridUnit*2, 320px);		
	}
	&.variant {
		background:					transparent;
		border:						none;
		padding:					0;
	}
	dl {
		dt {
			margin-bottom: 			$gridUnit;
			&.hidden {
				display: 			none;
				+ dd {
					display: 		none;
				}
			}
		}
		dd {
			margin-bottom: 			$gridUnit;
			img {
				display:			block;
				max-width:			100%;
			}
		}
	}
	input[type=text], 
	input[type=password], 
	textarea {
		-webkit-appearance: 		none;
		background:					$whiteBase url('../images/icon-lock.png') no-repeat right -24px;
		border: 					2px solid $whiteDark;
		border-width: 				2px 0 0;
		border-radius:				0;
		font:						16px/150% $openSans;
		height: 					46px;
		padding: 					0 $gridUnit;
		@include					transition(all .25s ease-in);
		width: 						100%;
		@include retina {
			background-image:		url('../images/icon-lockx2.png');
			background-size:		32px auto;
		}
		&:focus {
			border-width:  			2px 1px 1px;
			outline: 				none;
		}
		&[disabled] {
			-webkit-appearance: 	none;
			background-position:	right center;
			color:					$whiteDark;
		}
		+ button {
			@extend					.cta;			
		}
	}
	textarea {
		height:						100px;
		padding:					$gridUnit;
		resize:						none;
	}
	label {
		margin-right: 				$gridUnit;
	}
	input[type=submit] {
		@extend						.cta;
	}
	+ h2 {
		float: 						left;
		padding:					13px 0;
		+ .cta {
			float: 					right;
			+ p {
				clear: 				both;
			}
		}
	}
}

ul.option-list {
	color:							$whiteBase;
	list-style:						none;
	margin:							0;
	text-align:						left;
	li {
		margin-bottom:				$gridUnit;
		input[type=radio] {
			display:				none;
			&:checked + label:before {
				background-position:	0 -20px;
			}
		}
		label {
			cursor: 				pointer;
			display:				inline-block;
			padding-left:			30px;
			position:				relative;
			&:before {
				background:			url('../images/radio-button.png');
				@include retina {
					background-image:	url('../images/radio-buttonx2.png');
					background-size:	20px auto;
				}
				content:			'';
				display: 			inline-block;
			    height: 			20px; 
			    left: 				0;   
			    position: 			absolute;  
			    width: 				20px;    
			}
		}
	}
	&.icons {
		label:after {
			background-position:	center;
			background-repeat:		no-repeat;
			background-size:		contain;
			content:				'';
			display:				block;
			float:					left;
			height: 				21px;
			margin-right:			$gridUnit/2;
			width:					21px;
		}
		label.ico-clock:after {
			background-image:		url('../images/icon-round-clock.png');
		}
		label.ico-flag:after {
			background-image:		url('../images/icon-round-flag.png');
		}
		label.ico-graduation-hat:after {
			background-image:		url('../images/icon-round-graduation-hat.png');
		}
		label.ico-graduation-hat-multiple:after {
			background-image:		url('../images/icon-round-graduation-hat-multiple.png');
		}
		label.ico-media:after {
			background-image:		url('../images/icon-round-media.png');
		}
		label.ico-note:after {
			background-image:		url('../images/icon-round-note.png');
		}
		label.ico-person:after {
			background-image:		url('../images/icon-round-person.png');
		}
	}
}

ul.list {
	clear: 							both;
	list-style: 					none;
	margin:							0;
	li {
		@extend 					%clearfix;
		background:					$whiteOff;
		border-bottom: 				2px solid $whiteDark;
		color:						$greyBase;
		margin:						$gridUnit*2 0;
		padding: 					$gridUnit;
		span.heading {
			display: 				block;
			float: 					left;
			line-height:			100%;
			padding:				$gridUnit;
			text-align:				left;
		}
		div.actions {
			float: 					right;
			.cta {
				margin-top:			0;
			}
		}
	}
}

dl.question {
	margin:							$gridUnit*2 0;
	dt {
	font-size: 						$baseFontSize*1.5;
		line-height: 				130%;
		@include respond-to(5000px, 1400px) {
			font-size:				$baseFontSize*2;
		}
		img {
			display: 				block;
			margin-top:				$gridUnit;
			max-width: 				100%;
		}
	}
	dd {
		form {
			background: 			none;
			border-bottom: 			0;
			margin: 				0;
		}
		&.answer {
			background:				$whiteOff;
			border-bottom: 			2px solid $whiteDark;
			color:					$greyBase;
			display:				none;
			font-size: 				$baseFontSize*1.75;
			line-height: 			130%;
			margin:					$gridUnit*2 0 0;
			padding:				calc-percent($gridUnit*2, 940px);
			@include respond-to(5000px, 1400px) {
				font-size:			$baseFontSize*2;
				padding:			calc-percent($gridUnit*4, 940px);
			}
		}
	}
}

@include keyframe(loading) {
    0% {
    	@include rotate(0);
	}
	100% {
    	@include rotate(360deg);
	}
}

p.waiting {
	padding-top:					244px;
	position:						relative;
	&:before {
		background:					$whiteBase;
		border-radius:				50%;
		content:					'';
		display:					block;
		height:						158px;
		left:						50%;
		margin-left:				-79px;
		position:					absolute;
		top:						35px;
		width:						158px;
	}
	&:after {
		@include 					repeat-animation(0, 5s, loading, linear);
		background:					url('../images/icon-waiting-alt.png');
		content:					'';
		height:						228px;
		left:						50%;
		margin-left:				-114px;
		position:					absolute;
		top:						0;
		width:						228px;
		@include retina {
			background-image:		url('../images/icon-waiting-altx2.png');
			background-size:		100% auto;
		}
		
	}
	@include respond-to(5000px, 1400px) {
		padding-top:				488px;
		&:before {
			height:					316px;
			margin-left:			-158px;
			top:					70px;
			width:					316px;
		}
		&:after {
			background-image:		url('../images/icon-waiting-altx2.png');
			background-size:		100% auto;
			height:					456px;
			margin-left:			-228px;
			width:					456px;
		}
	}
}

h1.round {
	@extend 						p.waiting;
	padding-top:					188px;
	&:before {
		background-repeat:			no-repeat;
		background-position:		center;	
		background-size:			90px auto;	
		top:						0;
		@include retina {
			background-size:		90px auto;	
		}
	}
	@include respond-to(5000px, 1400px) {
		padding-top:				346px;
		&:before {
			background-size:		150px auto;	
			top:					0;
		}
	}
	&.ico-clock:before {
		background-image:			url('../images/icon-round-clock.png');
		@include retina {
			background-image:		url('../images/icon-round-clockx2.png');		
		}
		@include respond-to(5000px, 1400px) {
			background-image:		url('../images/icon-round-clockx2.png');
		}
	}
	&.ico-flag:before {
		background-image:			url('../images/icon-round-flag.png');
		@include retina {
			background-image:		url('../images/icon-round-flagx2.png');
		}
		@include respond-to(5000px, 1400px) {
			background-image:		url('../images/icon-round-flagx2.png');
		}
	}
	&.ico-graduation-hat:before {
		background-image:			url('../images/icon-round-graduation-hat.png');
		@include retina {
			background-image:		url('../images/icon-round-graduation-hatx2.png');			
		}
		@include respond-to(5000px, 1400px) {
			background-image:		url('../images/icon-round-graduation-hatx2.png');
		}
	}
	&.ico-graduation-hat-multiple:before {
		background-image:			url('../images/icon-round-graduation-hat-multiple.png');
		@include retina {
			background-image:		url('../images/icon-round-graduation-hat-multiplex2.png');		
		}
		@include respond-to(5000px, 1400px) {
			background-image:		url('../images/icon-round-graduation-hat-multiplex2.png');	
		}
	}
	&.ico-media:before {
		background-image:			url('../images/icon-round-media.png');
		@include retina {
			background-image:		url('../images/icon-round-mediax2.png');	
		}
		@include respond-to(5000px, 1400px) {
			background-image:		url('../images/icon-round-graduation-hat-multiplex2.png');	
		}
	}
	&.ico-note:before {
		background-image:			url('../images/icon-round-note.png');
		@include retina {
			background-image:		url('../images/icon-round-notex2.png');		
		}
		@include respond-to(5000px, 1400px) {
			background-image:		url('../images/icon-round-notex2.png');	
		}
	}
	&.ico-person:before {
		background-image:			url('../images/icon-round-person.png');
		@include retina {
			background-image:		url('../images/icon-round-personx2.png');		
		}
		@include respond-to(5000px, 1400px) {
			background-image:		url('../images/icon-round-personx2.png');
		}
	}
	&:after {
		display:					none;
	}
}

p.trophy {
	@extend							h1.round;
	&:before {
		background:					$whiteBase url('../images/icon-trophy.png') no-repeat center;
		background-size:			90px auto;
		@include retina {	
			background-image:		url('../images/icon-trophyx2.png');
		}
	}
}

ol.teams {
	background:						$whiteOff;
	border-bottom: 					2px solid $whiteDark;
	color:							$greyBase;
	margin:							$gridUnit*2 0;
	list-style: 					none;
	&:empty {
		display:					none;
	}
	li {
		@extend						%clearfix;
		border-bottom:				1px solid $whiteDark;	
		padding: 					$gridUnit;
		text-align:					left;
		width:						100%;
		h2, span {
			float:					left;
			color:					transparentize($greyBase, 1);
			font-size:				$baseFontSize;
			line-height:			150%;
			margin:					0;
			@include				transition(all 2s ease-out);
			.complete & {
				color:				$greyBase;
			}
			@include respond-to(5000px, 1400px) {
				font-size:			$baseFontSize*1.5;
				line-height:		150%;
			}
		}
		h2 {
			height:					31px;
			overflow:				hidden;
			width:					31px;
			.complete & {
				width:				700px;
			}
			&:before {
				background:			$greyBase url('../images/icon-team.png') no-repeat center;
				@include			border-radius(50%);
				content:			'';
				display:			block;
				float:				left;
				height:				31px;
				margin-right:		$gridUnit;
				width:				31px;
				@include retina {
					background-image:	url('../images/icon-teamx2.png');
					background-size:	17px auto;
				}
			}
		}
		span {
			float:					right;
		}
	}
}