ul.tabs {
	list-style: 					none;
	margin:							0;
	padding: 						0;
	@extend							%clearfix;
	li {
		float: 						left;
		a {
			background: 			$greyBase;
			color:					$whiteBase;
			display: 				block;
			font-size: 				16px;
			line-height: 			16px;
			padding: 				$gridUnit calc-percent($gridUnit*2, 160px);
			text-decoration: 		none;
			text-transform: 		uppercase;
			&.active {
				background: 		$whiteOff;
				color: 				$greyBase;
			}
		}
	}
	&.two-col {
		li {
			width: 					50%;
		}
	}
	+ .tabbed-content {
		display: 					block;
	}
}

.tabbed-content {
	background: 					$whiteOff;
	border-bottom: 					2px solid $whiteDark;
	display: 						none;
	overflow: 						hidden;
	margin-bottom: 					10px;
	padding:						calc-percent($gridUnit*2, 320px);
}

form {
	dl {
		dt {
			margin-bottom: 			$gridUnit;
		}
		dd {
			margin-bottom: 			$gridUnit;
			input {
				-webkit-appearance: none;
				border: 			2px solid $whiteDark;
				border-width: 		2px 0 0;
				border-radius:		0;
				font:				16px/150% $openSans;
				height: 			46px;
				padding: 			0 $gridUnit;
				width: 				100%;
				&:focus {
					border-width:  	2px 1px 1px;
					outline: 		none;
				}
			}
		}
	}
	input[type=submit] {
		-webkit-appearance: 		none;
		background: 				$whiteBase;
		border:						2px solid $whiteDark;
		border-width: 				0 0 2px;
		border-radius: 				0;
		cursor: 					pointer;
		font:						#{$baseFontSize}/100% $openSans;
		margin-top:					$gridUnit;
		padding:					$gridUnit;
	}
}

p.msg-success, 
p.msg-error {
	background:						$greenBase;
	color: 							$whiteBase;
	padding: 						$gridUnit calc-percent($gridUnit*2, 320px);
}

p.msg-error {
	background:						$redBase;
}



.cta {
	background: 					$yellowBase;
	border: 						0;
	@include						border-radius(2px);
	@include						box-shadow(4px 5px 0 transparentize($greyDark, .6));
	color:							$greyBase;
	cursor: 						pointer;
	display: 						inline-block;
	font:							#{$baseFontSize}/150% $arial;
	padding: 						$gridUnit/2;
	text-decoration: 				none;
	text-transform: 				uppercase;
	@include						transition(all .2s ease-in);
	&:hover {
		background-color: 			darken($yellowBase, 10%);
	}	
	+ .cta {
		margin-left: 				$gridUnit;
	}
}

button.cta {
	margin-top: 					$gridUnit;
	@include respond-to(400px) {
		display: 					block;
		margin:						$gridUnit 0 !important;
		width: 						100%;
	}
}

ul.list {
	clear: 							both;
	list-style: 					none;
	margin: 						0;
	li {
		border-bottom:				1px solid darken($greyBase, 10%);
		border-top:					1px solid transparentize($whiteBase, .7);
		padding: 					$gridUnit 0;
		@extend						%clearfix;
		&:first-child {
			border-top:				0;
		}
		span.heading {
			@extend					h2;
			line-height: 			31px;
		}
		div.actions {
			float: 					right;
			font-size: 				0;
			a.cta {
				font-size: 			12px;
				margin-left:		$gridUnit/2;
				padding: 			$gridUnit/4 $gridUnit/2;
			}
		}
	}
}

p.waiting {
	background:						url('../images/icon-waiting.png') no-repeat center top;
	padding-top:					270px;
}

dl.question {
	margin: 						0 auto;
	max-width: 						80%;
	@include respond-to(400px) {
		max-width: 					intrinsic;
	}
	dt {
		@extend 					h1;
		@include respond-to(400px) {
			font-size: 				18px;
		}
	}
	img {
		background: 				$whiteBase;
		@include					box-shadow(4px 5px 0 transparentize($greyDark, .6));
		display: 					inline-block;
		max-height: 				300px;
		max-width: 					100%;
		padding: 					$gridUnit;
	}
	dd.answer {
		background:					$greenBase;
		display: 					none;
		font-size: 					18px;
		padding: 					$gridUnit 0;
		text-align: 				center;
	}
	dd.form {
		form, 
		p.msg-success {
			margin: 				0 auto;
			max-width: 				400px;
			padding-top:			$gridUnit;
			width: 					100%;
		}
	}
}

p.correct {
	background: 					url('../images/icon-correct.png') no-repeat center top;
	padding-top:					106px;
}

p.incorrect {
	background: 					url('../images/icon-wrong.png') no-repeat center top;
	padding-top:					120px;
}