/* Colour Palette */

$yellowBase:						rgb(244, 180, 0);

$greyBase:							rgb(42, 42, 42);

$whiteBase:							rgb(255, 255, 255);
$whiteDark:							darken($whiteBase, 15%);






$greyLight:							rgba(238, 238, 238, 1);
$greyDark:							darken($greyBase, 10%);

$yellowBase:						rgba(248, 203, 40, 1);

$whiteBase:							rgba(255, 255, 255, 1);

$greenBase:							rgba(128, 165, 30, 1);

$redBase:							rgba(165, 30, 30, 1);

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

$baseFontSize:						14px;


$openSans:							'Open Sans', sans-serif;



$arial:								Arial, sans-serif;
$lemon:								'Lemon', cursive;

/* Grid */

$gridUnit:							15px;

/* Mix-ins & Functions */

@import								'lib/flexbox';

%clearfix {
	&:after {
		clear: 						both;
		content:					'';
		display: 					block;
	}
	html.ie7 & {
		zoom: 						1;
	}
}

@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}

@mixin respond-to($upperBreakPoint, $lowerBreakPoint : 0){
	@if $lowerBreakPoint > 0 {
		@media only screen and (max-width: $upperBreakPoint) and (min-width: 
$lowerBreakPoint + 1) { 
			@content;
        }
    }
    @else {
        @media only screen and (max-width: $upperBreakPoint) {
            @content;
        }
    }
}