main[role=main] {
	overflow: 						hidden;
	padding:						0 $gridUnit*2 $gridUnit;
	@extend							%clearfix;
	> p {
		text-align: 				center;
	}
}

form#register, 
form#log-in {	
	float: 							left;
	width: 							calc-percent(420px, 860px);
	@include respond-to(600px) {
		float: 						none;
		width: 						auto;
	}
}

form#log-in {
	float: 							right;
	@include respond-to(600px) {
		float: 						none;
	}
}

a#add-quiz {
	float: 							right;
}

div#quiz-presentation {
	@include						flexbox;
	height: 						100%;
}

aside[role=complementary] {
	@include						background(linear-gradient(transparentize(darken($greyBase, 5%), .3), transparentize($greyBase, 0)));
	border-left:					1px solid darken($greyBase, 10%);
	@include						box-shadow(0 1px 1px transparentize($whiteBase, .6) inset);
	width: 							400px;
	@include						transition(width 1s ease-in);
	h1 {
		font-size: 					$baseFontSize*2;
		padding: 					0 $gridUnit;
	}
	.complete & {
		width: 						100%;
	}
}

ol#teams {
	line-height: 					0;
	list-style: 					none;
	margin: 						0;
	li {
		border-bottom:				1px solid darken($greyBase, 10%);
		border-top:					1px solid transparentize($whiteBase, .7);
		line-height: 				42px;
		padding: 					$gridUnit;
		width: 						100%;
		@extend						%clearfix;
		span.team-name {
			color: 					transparent;
			float: 					left;
			text-shadow: 			0 0 10px $whiteBase;
			@include				transition(all 1s ease-in 1s);
			.complete & {
				color:				$greyLight;
				text-shadow:		0 0 0 transparent;
			}
		}
		span.score {
			color: 					transparent;
			float: 					right;
			text-shadow: 			0 0 10px $whiteBase;
			@include				transition(all 1s ease-in 1s);
			.complete & {
				color:				$greyLight;
				text-shadow:		0 0 0 transparent;
			}
		}
		&:before {			
			@extend					h2;
			background: 			$yellowBase;
			@include				border-radius(50%);
			color:					$greyBase;
			content: 				attr(data-position);
			display: 				inline-block;
			float: 					left;
			font-size: 				16px;
			font-style: 			normal;
			height: 				42px;
			margin: 				0 $gridUnit 0 0;
			line-height: 			42px;
			padding: 				0 !important;
			text-align: 			center;
			width: 					42px;
		}
	}
}

div#content {
	@include						flex(1);
	@include						transition(all 1s ease-in);
	text-align: 					center;
	> p {
		text-align: 				center;
	}
	.complete & {
		@include					flex(1);
	}
}

a#leave {
	bottom: 						$gridUnit;
	left: 							$gridUnit;
	position: 						fixed;
}

@include sticky-footer(63px, "main[role=main]", "#footer-placeholder", "footer[role=contentinfo]");

@include respond-to(400px) {
	@include sticky-footer(94px, "main[role=main]", "#footer-placeholder", "footer[role=contentinfo]");	
}

footer[role=contentinfo] {
	@include						background(linear-gradient(transparentize(darken($greyBase, 5%), .3), transparentize($greyBase, 0)));
	border:							1px solid darken($greyBase, 10%);
	border-width: 					1px 0;
	@include						box-shadow(0 1px 1px transparentize($whiteBase, .6) inset);
	padding: 						$gridUnit;
	text-transform: 				lowercase;
	@extend							%clearfix;
	@include respond-to(400px) {
		text-align: 				center;
	}
	p.user {
		float: 						left;
		margin: 					0;
		em {
			font-style: 			normal;
		}
		@include respond-to(400px) {
			float: 					none;
			display: 				inline-block;
			&:after {
				content:			' - ';
			}
		}
	}
	a.action {
		border:						1px solid darken($greyBase, 10%);
		border-width: 				0 1px;
		display: 					block;
		float: 						left;
		margin:						$gridUnit*-1 $gridUnit;
		padding: 					$gridUnit;
		text-decoration: 			none;
		@include					transition(all .2s ease-in);
		&:hover {
			background:				transparentize(darken($greyBase, 5%), .3);
		}
		@include respond-to(400px) {
			border: 				0;
			display: 				inline-block;
			float: 					none;
			margin: 				0;
			padding:				0;
			text-decoration: 		underline;
			&:hover {
				background: 		none;
			}
		}
	}
	p.credit {
		background: 				url('../images/logo.png') no-repeat right center;
		background-size: 			auto 100%;
		float: 						right;
		margin: 					0;
		padding-right: 				30px;
		@include respond-to(400px) {
			float: 					none;
			margin-top:				$gridUnit/2;
			padding-right: 			0;
			span.extra-credit {
				display: 			none;
			}
		}
	}
}