header[role=banner] {
	background:						$greyBase;
	border-top:						5px solid $whiteBase;
	border-bottom: 					2px solid $whiteDark;
	.container {
		position: 					relative;
	}
	h1 {
		background:					url('../images/logo.png') no-repeat left center;
		background-size: 			auto 28px;
		color: 						$whiteBase;
		font-weight: 				600;
		margin:						0;
		padding:					$gridUnit 0 $gridUnit ($gridUnit+20);
		text-align: 				left;
		text-transform: 			uppercase;
		@include retina {
			background-image:		url('../images/logox2.png');
		}
		a {
			text-decoration: 		none;
		}
	}
	button.toggle {
		background:					url('../images/menu.png') no-repeat;
		background-size: 			100%;
		border: 					0;
		cursor: 					pointer;
		height: 					15px;
		margin-top:					-7.5px;
		position: 					absolute;
		right: 						0;
		text-indent: 				-9999em;
		top:						50%;
		width: 						19.5px;
	}
	nav[role=navigation] {
		display: 					none;
	}
}

main[role=main] {
	overflow: 						hidden;
	padding:						$gridUnit 7.8125%;
	text-align: 					center;
	@extend							%clearfix;
}

a#add-quiz {
	float: 							right;
	margin-bottom: 					$gridUnit*2;
}

dt.multiple-choices + dd {
	@include						flexbox;
	@include						flex-wrap(wrap);
	input[type=text] {
		@include					flex(1, 1, auto);
		width:						auto;
		+ button {
			border-width:			2px 0 0;
			@include				flex(0, 1, 100px);
			margin:					0 0 0 $gridUnit;
			width:					100px;
		}
	}
	ul.list {
		@include					flex(1, 1, 100%);		
	}
}