@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Colour Palette */
/*$yellowBase:						rgb(64, 102, 24);*/
/* Fonts */
/* Grid */
/* Mix-ins & Functions */
ul.tabs:after, ul.list li:after, main[role=main]:after {
  clear: both;
  content: '';
  display: block;
}
html.ie7 ul.tabs, html.ie7 ul.list li, ul.list html.ie7 li, html.ie7 main[role=main] {
  zoom: 1;
}

html, body {
  height: 100%;
}

body {
  background: #f4b400;
  color: #2a2a2a;
  font: 400 14px/150% "Open Sans", sans-serif;
  -moz-transition: background-color 0.25s ease-in;
  -o-transition: background-color 0.25s ease-in;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}
body.incorrect {
  background-color: #da020a;
}
body.correct {
  background-color: #8dc63f;
}

h1, h2, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 15px 0;
}

h1, h2 {
  color: white;
  font-size: 28px;
  font-weight: normal;
  line-height: 100%;
}

h2 {
  font-size: 16.0px;
}

ul, ol {
  margin-left: 30px;
}

a {
  color: #eeeeee;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 90.625%;
}

.cta, form input[type=text] + button,
form input[type=password] + button, form input[type=submit] {
  -webkit-appearance: none;
  background: white;
  border: 2px solid #d9d9d9;
  border-width: 0 0 2px;
  border-radius: 0;
  color: #2a2a2a;
  cursor: pointer;
  display: inline-block;
  font: 14px/100% "Open Sans", sans-serif;
  margin-top: 15px;
  padding: 15px;
  text-decoration: none;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.cta:hover, form input[type=text] + button:hover,
form input[type=password] + button:hover, form input[type=submit]:hover {
  background: #2a2a2a;
  color: white;
}
.cta.add:before, form input[type=text] + button.add:before,
form input[type=password] + button.add:before, form input.add[type=submit]:before {
  content: '+ ';
}
.cta.delete, form input[type=text] + button.delete,
form input[type=password] + button.delete, form input.delete[type=submit] {
  background: #da020a;
}
.cta.delete:hover, form input[type=text] + button.delete:hover,
form input[type=password] + button.delete:hover, form input.delete[type=submit]:hover {
  background: #2a2a2a;
  color: #da020a;
}

ul.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.tabs li {
  float: left;
}
ul.tabs li a {
  background: #2a2a2a;
  color: white;
  display: block;
  font-size: 16.0px;
  line-height: 16.0px;
  padding: 15px 6.38298%;
  text-decoration: none;
  text-transform: uppercase;
}
ul.tabs li a.active {
  background: #f2f2f2;
  color: #2a2a2a;
}
@media only screen and (max-width: 420px) {
  ul.tabs li a {
    padding: 15px 18.75%;
  }
}
ul.tabs.two-col li {
  width: 50%;
}
ul.tabs + .tabbed-content {
  display: block;
}

.tabbed-content {
  background: #f2f2f2;
  border-bottom: 2px solid #d9d9d9;
  display: none;
  overflow: hidden;
  margin: 0 0 10px;
  padding: 3.19149%;
  text-align: left;
}
.tabbed-content form {
  background: transparent;
  border-bottom: 0;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 420px) {
  .tabbed-content {
    padding: 9.375%;
  }
}

p.msg-success,
p.msg-error {
  background: #8dc63f;
  clear: both;
  color: white;
  padding: 3.19149%;
}
@media only screen and (max-width: 420px) {
  p.msg-success,
  p.msg-error {
    padding: 9.375%;
  }
}

p.msg-error {
  background: #da020a;
}

p.highlight {
  color: white;
  font-size: 21px;
  margin-top: 30px;
  line-height: 150%;
  position: relative;
}
body.incorrect p.highlight {
  padding-bottom: 151px;
}
body.incorrect p.highlight:after {
  background: url("../images/icon-wrong.png");
  bottom: 0;
  content: '';
  display: block;
  height: 121px;
  left: 50%;
  margin-left: -55.5px;
  position: absolute;
  width: 111px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.incorrect p.highlight:after {
    background-image: url("../images/icon-wrongx2.png");
    background-size: 50% auto;
  }
}
body.correct p.highlight {
  padding-bottom: 145px;
}
body.correct p.highlight:after {
  background: url("../images/icon-correct.png");
  bottom: 0;
  content: '';
  display: block;
  height: 124px;
  left: 50%;
  margin-left: -57.5px;
  position: absolute;
  width: 115px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.correct p.highlight:after {
    background-image: url("../images/icon-correctx2.png");
    background-size: 50% auto;
  }
}

form {
  background: #f2f2f2;
  border-bottom: 2px solid #d9d9d9;
  margin: 15px 0;
  padding: 3.19149%;
}
@media only screen and (max-width: 420px) {
  form {
    padding: 9.375%;
  }
}
form.variant {
  background: transparent;
  border: none;
  padding: 0;
}
form dl dt {
  margin-bottom: 15px;
}
form dl dt.hidden {
  display: none;
}
form dl dt.hidden + dd {
  display: none;
}
form dl dd {
  margin-bottom: 15px;
}
form input[type=text],
form input[type=password] {
  -webkit-appearance: none;
  background: white url("../images/icon-lock.png") no-repeat right -24px;
  border: 2px solid #d9d9d9;
  border-width: 2px 0 0;
  border-radius: 0;
  font: 16px/150% "Open Sans", sans-serif;
  height: 46px;
  padding: 0 15px;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  width: 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  form input[type=text],
  form input[type=password] {
    background-image: url("../images/icon-lockx2.png");
    background-size: 50% auto;
  }
}
form input[type=text]:focus,
form input[type=password]:focus {
  border-width: 2px 1px 1px;
  outline: none;
}
form input[type=text][disabled],
form input[type=password][disabled] {
  background-position: right center;
  color: #d9d9d9;
}
form label {
  margin-right: 15px;
}
form + h2 {
  float: left;
  padding: 13px 0;
}
form + h2 + .cta, form form + h2 + input[type=submit] {
  float: right;
}
form + h2 + .cta + p, form form + h2 + input[type=submit] + p {
  clear: both;
}

ul.option-list {
  list-style: none;
  margin: 0;
  text-align: left;
}
ul.option-list li {
  margin-bottom: 15px;
}
ul.option-list li input[type=radio] {
  display: none;
}
ul.option-list li input[type=radio]:checked + label:before {
  background-position: 0 -20px;
}
ul.option-list li label {
  cursor: pointer;
  display: inline-block;
  padding-left: 30px;
  position: relative;
}
ul.option-list li label:before {
  background: url("../images/radio-button.png");
  content: '';
  display: inline-block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  ul.option-list li label:before {
    background-image: url("../images/radio-buttonx2.png");
    background-size: 20px auto;
  }
}

ul.list {
  clear: both;
  list-style: none;
  margin: 0;
}
ul.list li {
  background: #f2f2f2;
  border-bottom: 2px solid #d9d9d9;
  margin: 30px 0;
  padding: 15px;
}
ul.list li span.heading {
  display: block;
  float: left;
  line-height: 100%;
  padding: 15px;
}
ul.list li div.actions {
  float: right;
}
ul.list li div.actions .cta, ul.list li div.actions form input[type=text] + button, form ul.list li div.actions input[type=text] + button,
ul.list li div.actions form input[type=password] + button,
form ul.list li div.actions input[type=password] + button, ul.list li div.actions form input[type=submit], form ul.list li div.actions input[type=submit] {
  margin-top: 0;
}

dl.question dt {
  font-size: 24.5px;
  line-height: 130%;
}
dl.question dt img {
  display: block;
  margin-top: 15px;
  max-width: 100%;
}
dl.question dd form {
  background: none;
  border-bottom: 0;
  margin: 0;
}

@-webkit-keyframes loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
p.waiting {
  padding-top: 244px;
  position: relative;
}
p.waiting:before {
  background: white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 158px;
  left: 50%;
  margin-left: -79px;
  position: absolute;
  top: 35px;
  width: 158px;
}
p.waiting span {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 5s;
  -webkit-animation-name: loading;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-delay: 0;
  -moz-animation-duration: 5s;
  -moz-animation-name: loading;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-delay: 0;
  -o-animation-duration: 5s;
  -o-animation-name: loading;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-delay: 0;
  animation-duration: 5s;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: url("../images/icon-waiting.png");
  content: '';
  height: 228px;
  left: 50%;
  margin-left: -114px;
  position: absolute;
  top: 0;
  width: 228px;
}

header[role=banner] {
  background: #2a2a2a;
  border-top: 5px solid white;
  border-bottom: 2px solid #d9d9d9;
}
header[role=banner] .container {
  position: relative;
}
header[role=banner] h1, header[role=banner] h2 {
  background: url("../images/logo.png") no-repeat left center;
  background-size: auto 28px;
  color: white;
  font-weight: 600;
  margin: 0;
  padding: 15px 0 15px 35px;
  text-align: left;
  text-transform: uppercase;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  header[role=banner] h1, header[role=banner] h2 {
    background-image: url("../images/logox2.png");
  }
}
header[role=banner] h1 a, header[role=banner] h2 a {
  text-decoration: none;
}
header[role=banner] button.toggle {
  background: url("../images/menu.png") no-repeat;
  background-size: 100%;
  border: 0;
  cursor: pointer;
  height: 15px;
  margin-top: -7.5px;
  position: absolute;
  right: 0;
  text-indent: -9999em;
  top: 50%;
  width: 19.5px;
}
header[role=banner] nav[role=navigation] {
  display: none;
}

main[role=main] {
  overflow: hidden;
  padding: 15px 7.8125%;
  text-align: center;
}

a#add-quiz {
  float: right;
  margin-bottom: 30px;
}

dt.multiple-choices + dd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
dt.multiple-choices + dd input[type=text] {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto;
}
dt.multiple-choices + dd input[type=text] + button {
  border-width: 2px 0 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100px;
  -moz-box-flex: 0;
  -moz-flex: 0 1 100px;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  margin: 0 0 0 15px;
  width: 100px;
}
dt.multiple-choices + dd ul.list {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -moz-box-flex: 1;
  -moz-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
